@model sinemaotomasyonu.Models.Seanslar

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>Edit</h1>

<h4>Seanslar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="seansID" />
            <div class="form-group">
                <label asp-for="seansAdi" class="control-label"></label>
                <input asp-for="seansAdi" class="form-control" />
                <span asp-validation-for="seansAdi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seansSaati" class="control-label"></label>
                <input asp-for="seansSaati" class="form-control" />
                <span asp-validation-for="seansSaati" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="görevliID" class="control-label"></label>
                <input asp-for="görevliID" class="form-control" />
                <span asp-validation-for="görevliID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
@section alt
    {
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="row">
                <div class="col-lg-9 text-center text-lg-start">
                    <h3>– Henry Mosquera;</h3>
                    <p> Sahada, evle olan herhangi bir bağlantı seni daha da zayıflatır. Size bir zamanlar uygar, yumuşak olduğunuzu hatırlatır; ve bu seni kafandan bir kurşundan daha hızlı öldürebilir.</p>
                </div>

            </div>

        </div>
    </section><!-- End Cta Section -->
}
